## Redshift - Information validation

### Step 1: Setup libraries and variables

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
# Import libraries
import configparser

In [19]:
# Load database params from dwh file 
config = configparser.ConfigParser()
config.read('dwh.cfg')

ENDPOINT    = config.get("CLUSTER","HOST")
DB          = config.get("CLUSTER","DB_NAME")
USER        = config.get("CLUSTER","DB_USER")
PASSWORD    = config.get("CLUSTER","DB_PASSWORD")
PORT        = config.get("CLUSTER","DB_PORT")

### Step 2: Connect to Redshift Cluster

In [21]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(USER, PASSWORD, ENDPOINT, PORT, DB)
print(conn_string)

%sql $conn_string

postgresql://awsuser:Passw0rd@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb

'Connected: awsuser@sparkifydb'

### Step 3: Validate tables information

In [22]:
# Validate staging_events table information
%sql select * from staging_events LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', Decimal('238'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796, 237, 'See No Evil  (Remastered LP Version)', 200, 1541381456796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('The Backyardigans', 'Logged In', 'Aleena', 'F', 4, 'Kirby', Decimal('158'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796, 237, 'Into The Thick Of It!', 200, 1541382120796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Two Door Cinema Club', 'Logged In', 'Aleena', 'F', 7, 'Kirby', Decimal('189'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796, 237, 'What You Know', 200, 1541382653796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Incubus', 'Logged In', 'Aleena', 'F', 21, 'Kirby', Decimal('257'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796, 237, 'Dig', 200, 1541386112796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Thrice', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', Decimal('134'), 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796, 259, 'The Red Death', 200, 1541393112796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69)]

In [23]:
# Validate staging_songs table information
%sql select * from staging_songs LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(1, 'AR5LMPY1187FB573FE', '41.884149999999998', '-87.632409999999993', 'Chicago, IL', 'Chaka Khan_ Rufus', 'SOABWAP12A8C13F82A', 'Take Time', Decimal('258'), 1978),
 (1, 'ARWYVP51187B98C516', '42.331679999999999', '-83.047920000000005', 'Detroit, MI', 'The Suicide Machines', 'SONYRZV12AB018AF70', 'Burning In The Aftermath', Decimal('95'), 2003),
 (1, 'ARMTTNS1187FB39C92', None, None, '', 'Saratoga', 'SOQPIFV12AB017C713', 'Semillas de odio', Decimal('573'), 0),
 (1, 'ARAO91X1187B98CCA4', '41.504710000000003', '-81.690740000000005', 'Cleveland, Ohio', 'Tracy Chapman', 'SOBYAKJ12AB017C6E2', 'Broken (LP Version)', Decimal('259'), 2002),
 (1, 'ARFHCKN123E29C127D', None, None, '', 'Dot Dot Curve', 'SOXHLHD12AB017E2F5', 'SceneK!d 06', Decimal('164'), 2009)]

In [24]:
# Validate songplays table information
%sql select * from songplays LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(4, datetime.datetime(2018, 11, 21, 15, 30), 58, 'paid', 'SOIMLDL12A8C14283D', 'ARAFIWJ1187FB38D33', 768, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (12, datetime.datetime(2018, 11, 21, 19, 43, 54), 97, 'paid', 'SODHOHA12A8C1397F1', 'ARAFIWJ1187FB38D33', 817, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (18, datetime.datetime(2018, 11, 15, 21, 59, 51), 44, 'paid', 'SODPLYE12AB01898FB', 'ARA3I0J1187FB57869', 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (21, datetime.datetime(2018, 11, 24, 4, 31, 30), 29, 'paid', 'SOAECHX12A6D4FC3D9', 'ARX2DLI1187FB4DD03', 709, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (40, datetime.datetime(2018, 11, 26, 13, 17, 42), 88, 'paid', 'SOHMNPP12A58A7AE4B', 'ARKZ13R1187FB54FEE', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [25]:
# Validate users table information
%sql select * from users LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(15, 'Lily', 'Koch', 'F', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (22, 'Sean', 'Wilson', 'F', 'free'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (24, 'Layla', 'Griffin', 'F', 'paid')]

In [26]:
# Validate songs table information
%sql select * from songs LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385'))]

In [27]:
# Validate artists table information
%sql select * from artists LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40'), Decimal('-73')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

In [28]:
# Validate time table information
%sql select * from time LIMIT 5;

   postgresql+psycopg2://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
 * postgresql://awsuser:***@sparkify-cluster.crknwr0cn6tj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 4, 19, 35, 15), 19, 4, 44, 11, 2018, 0),
 (datetime.datetime(2018, 11, 5, 10, 18, 12), 10, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 10, 41, 2), 10, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 17, 54, 32), 17, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 18, 13, 57), 18, 5, 45, 11, 2018, 1)]